.cards{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
mat-card{
  box-sizing: border-box;
  max-width: 49%;
  flex-basis: 50%;
  margin: 0.5%;
}
p {
  color: #b6b6b6
}
mat-card-header {
  margin: 0 auto;
  font-size: large;
}
mat-card-content {
  margin: 0 auto;
  font-size: medium;
}
