<ng-container *ngIf="(devices.length != 0); then displayList; else exception"></ng-container>
<ng-template #displayList>
    <form>
        <mat-list>
            <mat-list-item *ngFor="let device of devices">
                <div class="with-icon">
                    <div testid="device-item">{{ device.name }}</div>
                    <button mat-icon-button testid="approve-button" (click)="putApproval(device)">
                        @if(!device.isKnown){
                            <mat-icon testid="device-icon">add_circle</mat-icon>
                        }
                        @if(device.isKnown){
                            <mat-icon testid="device-icon">cancel</mat-icon>
                        }
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </form>
</ng-template>
<ng-template #exception>
    <div class="exception">
        <mat-icon class="pad-bott7_5">list</mat-icon>
        <p>No devices to display!</p>
        <p>Configure device and wait for data</p>
    </div>
</ng-template>
