<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-icon (click)="drawer.close()">close</mat-icon>
    <div>
      <app-manage/>
    </div>
  </mat-drawer>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <mat-icon
      *ngIf="!drawer.opened"
      (click)="drawer.toggle()">
      menu
    </mat-icon>
    <a mat-tab-link testid="label"
       *ngFor="let link of links"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</mat-drawer-container>


